<!DOCTYPE html>
<html>
  <head>
    <title>Simple App du Tutoriel Ruby on Rails | <%= @titre %>   </title>
  </head>
  <body>
    <h1>Simple App</h1>
    <p>
      Ceci est la page d'accueil de l'Application Exemple du
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
    </p>
  </body>
</html  